* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 34px;
}

.name {
    font-size: 24px;
    font-weight: normal; 
}

p, a, span, i {
    font-size: 13px;
}

time {
    font-size: 13px;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.resume {
    margin: auto;
    padding: 28px 33px;; 
    width: 37rem;
    height: 52rem;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.resume__additional-info {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.resume__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.divider {
    border-left: 1px solid black;
    height: auto;
}

.education-details {
    display: flex;
    justify-content: space-between;
}

.education-details__right {
    text-align: right;
}

.company-details {
    display: flex;
    justify-content: space-between;
}

.position {
    display: flex;
    justify-content: space-between;
}

li {
    font-size: 13px;
    text-wrap: left;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.responsibilities {
    margin-left: 20px;
}

